<div aria-hidden="true" aria-labelledby="subjectModalLabel" class="modal fade" id="subject-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fw-bolder" id="subjectModalLabel">{{ subject.name }}</h4>
                <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body">
                <h5 class="fw-bolder">Тема:</h5>
                <p>{{ subject.theme }}</p>
                <hr class="my-1">
                <div class="d-flex justify-content-between">
                    <h5 class="fw-bolder">Домашнее задание:</h5>
                </div>

                <p class="urlify">{{ subject.homework }}</p>
                {% if subject.previous_homework["date"] %}
                    <hr class="my-1">
                    <div class="d-flex justify-content-between">
                        <h5 class="fw-bolder">Домашнее задание с прошлого урока
                            ({{ subject.previous_homework["date"] }}):</h5>
                        {% if subject.previous_homework["homework"] != "<i>Не указано</i>" %}
                            <div class="d-flex">
                                <a href="https://www.perplexity.ai/search?q={{ subject.previous_homework["homework"] }} in russian"
                                   target="_blank">
                                    <img src="/static/images/robot.svg" class="search me-2" alt="Поиск в ИИ"
                                         style="width: 30px; height: 30px">
                                </a>
                                <a href="https://www.google.ru/search?q={{ subject.previous_homework["homework"] }}"
                                   target="_blank">
                                    <img src="/static/images/box-arrow-up-right.svg" class="search"
                                         alt="Поиск в интернете"
                                         style="width: 20px; height: 20px">
                                </a>
                            </div>
                        {% endif %}


                    </div>
                    <p class="urlify">{{ subject.previous_homework["homework"] }}</p>
                {% endif %}
                {% if subject.marks %}
                    <hr class="my-1">
                    <h5 class="fw-bolder">Оценки:</h5>
                    {% for mark in subject.marks %}
                        <p class="badge text-bg-{{ mark }} m-0">{{ mark }}</p>
                    {% endfor %}
                {% endif %}
                <hr>
                <button type="button" class="btn btn-secondary open-ots" data-subject="{{ subject.name }}"
                        data-date="{{ day.str_date }}">Показать уроки
                </button>
            </div>
        </div>
    </div>
</div>