/*[data-theme="dark"] {*/
/*    --mark-5-color: #0D1117;*/
/*    --mark-4-color: #0D1117;*/
/*    --mark-3-color: #0D1117;*/
/*    --mark-2-color: #0D1117;*/
/*}*/


[data-theme="dark"] {
    background-color: var(--bg-dark-color);
    color: white;
}

[data-theme="dark"] h5 {
    color: white !important;
}

[data-theme="dark"] .modal-content{
    background-color: var(--bg-dark-color);
    color: white;
}


[data-theme="dark"] .header-logo {
    color: white;
}

[data-theme="dark"] .header {
    border-color: var(--dark-border-color) !important;
}


[data-theme="dark"] .block {
    background-color: var(--dark-accent-color);
    border-color: var(--dark-border-color) !important;
}

[data-theme="dark"] .footer {
    background-color: var(--dark-accent-color);
    border-color: var(--dark-border-color) !important;
}

[data-theme="dark"] .one-day-header {
    background-color: var(--dark-border-color);
}

[data-theme="dark"] hr {
    background-color: var(--dark-hr-color);
    color: var(--dark-hr-color);
    border-color: var(--dark-hr-color);
}

[data-theme="dark"] table {
    border-color: var(--dark-border-color) !important;
    color: white;
}

[data-theme="dark"] .table-text {
    color: whitesmoke;
}

[data-theme="dark"] .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    color: rgb(185, 185, 185);
}

[data-theme="dark"] select {
    background-color: var(--dark-accent-color);
    border-color: var(--dark-border-color);
    color: whitesmoke;
}

[data-theme="dark"] .arrow {
    filter: invert(100%);
}

[data-theme="dark"] .loader {
    background-color: var(--bg-dark-color);
}

[data-theme="dark"] .diary-header {
    background-color: var(--dark-accent-color) !important;
}

[data-theme="dark"] .number {
    filter: invert(100%);
}

[data-theme="dark"] button.btn-close {
    filter: invert(100%);
}

[data-theme="dark"] .search {
    filter: invert(100%);
}