[data-bs-theme="dark"] {
    /*--mark-5-color: #0D1117;*/
    /*--mark-4-color: #0D1117;*/
    /*--mark-3-color: #0D1117;*/
    /*--mark-2-color: #0D1117;*/
    --bs-body-bg: #0D1117;
    --bs-border-color: #2F353B;
    --bs-body-color: #FFF;
    --accent-color: #21262D;
    --hr-color: #777777;

    --footer-bg: #21262D;

    --block-bg: #21262D;
    --block-header: #252a32;

    --mark-dark: #0D1117;
}


[data-bs-theme="dark"] .header-logo {
    color: white;
}


[data-bs-theme="dark"] hr {
    background-color: var(--hr-color);
    color: var(--hr-color);
    border-color: var(--hr-color);
}


[data-bs-theme="dark"] .table-text {
    color: whitesmoke;
}


[data-bs-theme="dark"] select {
    background-color: var(--accent-color);
    color: whitesmoke;
}

[data-bs-theme="dark"] .arrow {
    filter: invert(100%);
}


[data-bs-theme="dark"] .number {
    filter: invert(100%);
}

[data-bs-theme="dark"] button.btn-close {
    filter: invert(100%);
}

[data-bs-theme="dark"] .search {
    filter: invert(100%);
}

[data-bs-theme="dark"] .social {
    filter: invert(100%);
}

[data-bs-theme="dark"] .bi {
    filter: invert(100%);
}