<div class="overflow-hidden">
    <div class="row g-2">
        <div class="col-md-6">
            <div class="one-day-container"></div>
        </div>
        <div class="col-md-6">
            <div class="row g-2">
                <div>
                    <div class="border rounded-3 p-0 block">
                        <div class="m-2">
                            <h5 class="mb-0">Последние оценки</h5>
                            <hr class="mb-2 mt-2">
                            {% if latest_marks %}
                                <div class="d-flex flex-wrap justify-content-around">
                                    {% for item in latest_marks %}
                                        <div class="rounded-4 bg-{{ item["mark"] }} mark-card show-subject-modal pointer"
                                             data-date="{{ item["date"] }}"
                                             data-lesson="{{ item["lesson"] }}">
                                            <p>{{ item["subject"] }}</p>
                                            <h3>{{ item["mark"] }}</h3>
                                            <p class="mark-card-date">{{ item["date"] }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <i>Оценок не найдено</i>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="row g-2">
                <div>
                    <div class="border rounded-3 p-0 block">
                        <div id="vk_groups"></div>
                        <script type="text/javascript">
                            VK.Widgets.Group("vk_groups", {
                                mode: 4,
                                no_cover: 1,
                                wide: 1,
                                color1: "FFFFFF",
                                color2: "000000",
                                color3: "5181B8",
                                width: "auto",
                                height: 500
                            }, 219719675);
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>