{#  PC  #}
<div class="block border rounded-3 mb-2 d-none d-md-block p-1">
    <div class="m-1 ">
        <select class="form-select marks-period-select container-fluid">
            {% for period in periods %}
                <option data-begin="{{ period["dateBegin"] }}"
                        data-end="{{ period["dateEnd"] }}"
                        {% if selected == period["name"] %}selected{% endif %}>{{ period["name"] }}</option>
            {% endfor %}
        </select>
    </div>


    <table class="table table-hover table-sm table-text m-0">
        <thead>
        <tr>
            <th scope="col">Предмет</th>
            <th scope="col">Оценки</th>
            <th scope="col">Средний балл</th>
        </tr>
        </thead>
        <tbody>
        {% for subject in marks %}
            <tr class="{% if selected != "Итоговые оценки" %} marks {% endif %}" data-sum="{{ marks[subject]["sum"] }}"
                data-count="{{ marks[subject]["count"] }}" data-count-5="{{ marks[subject]["count_5"] }}"
                data-count-4="{{ marks[subject]["count_4"] }}" data-count-3="{{ marks[subject]["count_3"] }}"
                data-count-2="{{ marks[subject]["count_2"] }}"
                data-subject="{{ subject }}">
                <td class="marks-subject-title">{{ subject }}</td>
                <td class="marks-container">
                    {% for mark in marks[subject]["marks"] %}
                        {% if live_mode %}
                            <span class="badge text-bg-{{ mark["value"] }} show-subject-modal"
                                  data-date="{{ mark["date"] }}"
                                  data-lesson="{{ mark["subject_index"] }}">{{ mark["value"] }}</span>

                        {% else %}
                            <span class="badge text-bg-{{ mark }}">{{ mark }}</span>
                        {% endif %}

                    {% endfor %}
                </td>
                <td>
                    <span class=" badge
                              text-bg-{{ marks[subject]["average"]|round|int }}">{{ marks[subject]["average"] }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>

{#  mobile  #}
<div class="d-md-none">
    <div class="mb-2">
        <select class="form-select marks-period-select container-fluid">
            {% for period in periods %}
                <option data-begin="{{ period["dateBegin"] }}"
                        data-end="{{ period["dateEnd"] }}"
                        {% if selected == period["name"] %}selected{% endif %}>{{ period["name"] }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        {% for subject in marks %}
            <div class="marks block border rounded-3 p-2 mb-2" data-sum="{{ marks[subject]["sum"] }}"
                 data-count="{{ marks[subject]["count"] }}"
                 data-subject="{{ subject }}" data-count-5="{{ marks[subject]["count_5"] }}"
                 data-count-4="{{ marks[subject]["count_4"] }}" data-count-3="{{ marks[subject]["count_3"] }}"
                 data-count-2="{{ marks[subject]["count_2"] }}">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>{{ subject }}</h5>
                    <span class="badge text-bg-{{ marks[subject]["average"]|round|int }}">{{ marks[subject]["average"] }}</span>
                </div>

                <div class="d-flex justify-content-start flex-wrap">
                    {% for mark in marks[subject]["marks"] %}
                        {% if live_mode %}
                            <div class="mark-block bg-{{ mark["value"] }} rounded-2 m-1 show-subject-modal"
                                 data-date="{{ mark["date"] }}" data-lesson="{{ mark["subject_index"] }}">
                                {{ mark["value"] }}
                            </div>
                        {% else %}
                            <div class="mark-block bg-{{ mark }} rounded-2 m-1">{{ mark }}</div>
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>


<div class="modal fade" id="marks-modal" tabindex="-1" aria-labelledby="marksModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title fw-bolder" id="marksModalLabel"></h4>
                <button type="button" class="btn-close mark-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mark-raise-block">
                    <h5 class="fw-bolder text-muted">До повышения оценки:</h5>
                    <p class="mark-raise"></p>
                    <hr class="my-1">
                </div>

                <h5 class="fw-bolder text-muted">Рассчет балла:</h5>
                <form action="">
                    <div>
                        <div class="flex">
                            <label class="badge bg-5 me-2" for="count-5">5</label>
                            <div class="number">
                                <button class="number-minus" type="button"
                                        onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">
                                    -
                                </button>
                                <input type="number" value="0" max="100" readonly id="count-5">
                                <button class="number-plus" type="button"
                                        onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="flex mt-2">
                            <label class="badge bg-4 me-2" for="count-4">4</label>
                            <div class="number">
                                <button class="number-minus" type="button"
                                        onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">
                                    -
                                </button>
                                <input type="number" value="0" max="100" readonly id="count-4">
                                <button class="number-plus" type="button"
                                        onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="flex mt-2">
                            <label class="badge bg-3 me-2" for="count-3">3</label>
                            <div class="number">
                                <button class="number-minus" type="button"
                                        onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">
                                    -
                                </button>
                                <input type="number" value="0" max="100" readonly id="count-3">
                                <button class="number-plus" type="button"
                                        onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">
                                    +
                                </button>
                            </div>
                        </div>
                        <div class="flex mt-2">
                            <label class="badge bg-2 me-2" for="count-2">2</label>
                            <div class="number">
                                <button class="number-minus" type="button"
                                        onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">
                                    -
                                </button>
                                <input type="number" value="0" max="100" readonly id="count-2">
                                <button class="number-plus" type="button"
                                        onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">
                                    +
                                </button>
                            </div>
                        </div>
                    </div>

                    <input type="submit" class="btn btn-secondary mt-2 mb-1" value="Рассчитать">
                    <p class="avg-mark badge m-0"></p>
                </form>
            </div>
        </div>
    </div>
</div>